.Rproj.user
.Rhistory
.RData
YostF.fna
.DS_Store
._.DS_Store
._GATES SubmissionForm_Sept 2011.xls
._YostF.fna
._YostF.qual
._YostF.txt
.~lock.GATES SubmissionForm_Sept 2011.xls#
GATES SubmissionForm_Sept 2011.xls
ITSD.fasta
YostF.qual
YostF.txt
YostF_name.fna
YostF_relabeled.fna
YostF_relabled.fna
combined_seqs_trimmed.fasta
trimF.fasta
trimF2.fasta
trimF2_trimR.fasta
